head {
    background-color: darkgray;
}

body {
    background-color: darkgray;
}

.jumbotron {
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 70%;
    align-self: center;

}

.display-4 {
    margin-left: 6rem;
    align-content: center;
}

.btn {
    background-color: lightgray;
    display: flexbox;
    margin: 5px;
    visibility: hidden;


}

.display-question {
    font-family: 'Inknut Antiqua', serif;
    font-weight: bolder;
    font-size: 45px;

}

.col-6{
    font-family: 'Press Start 2P', cursive;
    font-weight: bolder;
    font-size: 45px;
}